.y-axis {
  > path {
    color: transparent;
  }
}

.x-axis {
  > path {
    color: aliceblue;
  }
}

.y-axis-label,
.x-axis-label {
  font-size: 14px;
  font-weight: bold;
}

.y-axis-label {
  position: absolute;
  transform: rotate(270deg);
  left: -200px;
}

.tick {
  color: #495464;
}
