html {
  --color-primary: "#1E2022";

  --color-gray: "#F0F5F9";
  --color-gray-medium: "#C9D6DF";
  --color-gray-dark: "#52616B";
}

body {
  background-color: #f6f8fa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
